.footer-nav {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}

.footer-link {
    border-bottom: 1px solid #ececec;;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}

.footer-link-catalog {
    color: black;
    border-bottom: 1px black solid;
    margin-bottom: 70px;
}

.footer-form-about {
    width: 209px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

.footer-form-input {
    text-align: center;
    width: 275px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    margin-bottom: 5px;
}

.footer-form-btn {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    justify-content: space-between;
}