
.social-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-contact> {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-contact>a {
    margin-left: 10px;
}

.link-hover { transition-duration: 250ms }
.link-hover:hover { border-bottom: 1px solid black; }