.top-cart {
    height: 400px;
    background-image: url(img/topcart.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-big {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 127px;
    color: #FFFFFF;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
    }

    &__content {
        grid-column: span 8;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}